acct_address = "Q7..."
acct_mnemonic = "long ass 25 word acct_mnemonic"
reverse_trade_min_profit_margin = 0.02
db_host = "127.0.0.1"
db_name = "algotrading"
db_user = "postgres"
db_pass = "postgres"
db_port = 3306
bot_interval = 5